<% if entries %>\begin{rubric}{Miscellaneous Experience}
<% set current_sub = namespace(value='') -%>
<% for entry in entries -%>
<% if entry.subrubric != current_sub.value -%>
<% set current_sub.value = entry.subrubric -%>
\subrubric{<< entry.subrubric >>}
<% endif -%>
\entry*[<< entry.year >>] \textbf{<< entry.title | escape_latex >>}<% if entry.description %>, << entry.description | escape_latex >>.<% endif %>

<% endfor %>
\end{rubric}
<% else %>% No miscellaneous entries
<% endif %>
