<% if entries %>\begin{rubric}{Project Highlights}
<% for entry in entries -%>
\entry*[<< entry.date_range >>]%
<% if entry.url %>	\href{<< entry.url >>}{\textbf{<< entry.title | escape_latex >>}}<% else %>	\textbf{<< entry.title | escape_latex >>}<% endif %><% if entry.description %> — << entry.description | escape_latex >><% endif %><% if entry.technologies %> \textit{[<< entry.technologies | escape_latex >>]}<% endif %>
%
<% endfor -%>
\end{rubric}
<% else %>% No project highlight entries
<% endif %>
